# Python
__pycache__/
*.py[cod]
build/
dist/
wheels/
*.egg-info/

# venv
.venv/
venv/

# env / secrets
.env
.env.*

# local sqlite db
*.db
*.db-journal

# tooling
.coverage
.pytest_cache/
.mypy_cache/
.ruff_cache/
htmlcov/
